@import 'styles/shared.scss';

.cartContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 256px;
}

.title {
  margin-bottom: 55px;

  @include fontProperty(
    $weight: 700,
    $size: 32px,
    $height: 1.25,
    $transform: uppercase
  );
}

.productDescription {
  width: 100%;
}

.orderContainer {
  width: 280px;
}

.orderInfoBox {
  display: flex;
}

.orderItem {
  margin-right: 10px;
  margin-bottom: 8px;

  @include fontProperty($weight: 400, $size: 24px, $height: 1.16);
}

.total {
  composes: orderItem;
  font-weight: 500;
}

.orderItem:last-child,
.orderValueItem:last-child {
  margin-bottom: 16px;
}

.orderValueItem {
  margin-right: 10px;
  margin-bottom: 8px;

  @include fontProperty($weight: 700, $size: 24px, $height: 1.16);
}

.orderBtn {
  width: 280px;
  height: 43px;

  border: none;
  background-color: $green;

  cursor: pointer;

  @include fontProperty(
    $color: $white,
    $weight: 600,
    $size: 14px,
    $height: 1.2,
    $transform: uppercase,
    $text-align: center
  );

  transition: background-color 0.25s $cubicBezier;
}

.orderBtn:hover,
.orderBtn:focus {
  background-color: #81dc99;

  transition: background-color 0.25s $cubicBezier;
}
