@import 'styles/shared.scss';

.currencySwitcherBox {
  position: absolute;
  bottom: -217px;
  right: -23px;
  width: 114px;

  background-color: $white;
  box-shadow: $cardShadowActive;
}

.currencySwitcherItem:first-child {
  padding-top: 20px;
}

.currencySwitcherItem {
  display: flex;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  cursor: pointer;

  transition: color background-color 0.25s $cubicBezier;
}

.currencySwitcherItem:last-child {
  padding-bottom: 20px;
}

.currencySwitcherItem:hover,
.currencySwitcherItem:focus {
  background-color: $gray2;

  transition: color background-color 0.25s $cubicBezier;
}

.currencySwitcherSymbol {
  margin-right: 7px;
  @include fontProperty($size: 17px, $height: 1.14);
}

.currencySwitcherText {
  @include fontProperty($size: 17px, $height: 1.14);
}
