@import 'styles/shared.scss';

.productCardBox {
  display: flex;
}

.smallImgBox {
  margin-right: 40px;
}

.imgBox {
  width: 80px;
  height: 80px;
  margin-bottom: 40px;
  overflow: hidden;
}

.imgBox:last-child {
  margin-bottom: 0;
}

.cardBox {
  display: flex;
}

.productImgBox {
  width: 610px;
  height: 511px;
  margin-right: 100px;
  overflow: hidden;
}

.productDescription {
  display: flex;
  flex-direction: column;
}

.productTitle {
  margin-bottom: 16px;

  @include fontProperty($weight: 600, $size: 30px, $height: 0.9);
}

.kindOfProduct {
  margin-bottom: 43px;

  @include fontProperty($weight: 400, $size: 30px, $height: 0.9);
}

.sizeContainer {
  margin-bottom: 24px;
}

.sizeTitle {
  margin-bottom: 8px;

  @include fontProperty(
    $font-family: Roboto Condensed,
    $weight: 700,
    $size: 18px,
    $height: 1
  );
}

.sizeBox {
  display: flex;
  align-items: center;
}

.sizeItem {
  width: 63px;
  height: 45px;
  margin-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;

  border: 1px solid $black;

  @include fontProperty(
    $font-family: Source Sans Pro,
    $weight: 400,
    $size: 16px,
    $height: 1.12,
    $text-align: center,
    $letter-spacing: 0.05em
  );

  transition: color 0.25s $cubicBezier, background-color 0.25s $cubicBezier;
}

.sizeItem:last-child {
  margin-right: 0;
}

.sizeItem:hover,
.sizeItem:focus {
  background-color: $black;
  color: $white;

  transition: color 0.25s $cubicBezier, background-color 0.25s $cubicBezier;
  cursor: pointer;
}

.colorContainer {
  margin-bottom: 36px;
}

.colorTitle {
  margin-bottom: 10px;

  @include fontProperty(
    $font-family: Roboto Condensed,
    $weight: 700,
    $size: 18px,
    $height: 1
  );
}

.colorBox {
  display: flex;
  align-items: center;
}

.colorItemBox {
  margin-right: 8px;
}

.colorItem {
  width: 32px;
  height: 32px;

  background-color: $grey1;

  transition: border 0.25s $cubicBezier, padding 0.25s $cubicBezier;
}

.colorItemBox:last-child {
  margin-right: 0;
}

.colorItemBox:hover,
.colorItemBox:focus {
  padding: 1px;
  border: 1px solid $green;

  transition: border 0.25s $cubicBezier, padding 0.25s $cubicBezier;
  cursor: pointer;
}

.priceContainer {
  margin-bottom: 20px;
}

.priceTitle {
  margin-bottom: 10px;

  @include fontProperty(
    $font-family: Roboto Condensed,
    $weight: 700,
    $size: 18px,
    $height: 1
  );
}

.price {
  @include fontProperty($weight: 700, $size: 24px, $height: 0.75);
}

.btnAddtoCart {
  width: 292px;
  height: 52px;
  margin-bottom: 40px;

  border: none;
  background-color: $green;

  cursor: pointer;

  @include fontProperty(
    $color: $white,
    $weight: 600,
    $size: 16px,
    $height: 1.2,
    $transform: uppercase,
    $text-align: center
  );

  transition: background-color 0.25s $cubicBezier;
}

.btnAddtoCart:hover,
.btnAddtoCart:focus {
  background-color: #81dc99;

  transition: background-color 0.25s $cubicBezier;
}

.description {
  width: 292px;

  @include fontProperty(
    $font-family: Roboto,
    $weight: 400,
    $size: 16px,
    $height: 1.6
  );
}
