@import 'styles/shared.scss';

.productCardBox {
  display: flex;
  padding-bottom: 178px;
}

.smallImgBox {
  margin-right: 40px;
}

.imgBox {
  width: 80px;
  height: 80px;
  margin-bottom: 40px;
  overflow: hidden;
  cursor: pointer;
}

.imgBox:last-child {
  margin-bottom: 0;
}

.cardBox {
  display: flex;
}

.productImgBox {
  display: flex;
  justify-content: center;

  width: 610px;
  height: 511px;
  margin-right: 100px;
}

.productDescription {
  display: flex;
  flex-direction: column;
}

.productTitle {
  margin-bottom: 16px;

  @include fontProperty($weight: 600, $size: 30px, $height: 0.9);
}

.kindOfProduct {
  margin-bottom: 43px;

  @include fontProperty($weight: 400, $size: 30px, $height: 0.9);
}

.attrContainer {
  margin-bottom: 24px;
}

.attrTitle {
  margin-bottom: 10px;

  @include fontProperty(
    $font-family: Roboto Condensed,
    $weight: 700,
    $size: 18px,
    $height: 1
  );
}

.attrBox {
  display: flex;
  align-items: center;
}

.inputBoxText {
  margin-right: 12px;
}

.inputText {
  appearance: none;
  position: absolute;
}

.text {
  content: '';
  display: inline-block;
  width: 63px;
  height: 45px;
  padding-top: 12px;
  padding-bottom: 12px;

  border: 1px solid $black;

  @include fontProperty(
    $font-family: Source Sans Pro,
    $weight: 400,
    $size: 16px,
    $height: 1.12,
    $text-align: center,
    $letter-spacing: 0.05em
  );

  transition: color 0.25s $cubicBezier, background-color 0.25s $cubicBezier;
  cursor: pointer;
}

.inputText:checked + .text {
  background-color: $black;

  @include fontProperty(
    $color: $white,
    $font-family: Source Sans Pro,
    $weight: 400,
    $size: 16px,
    $height: 1.12,
    $text-align: center,
    $letter-spacing: 0.05em
  );

  transition: color 0.25s $cubicBezier, background-color 0.25s $cubicBezier;
}

.inputBoxText:last-child {
  margin-right: 0;
}

.inputBoxSwatch {
  margin-right: 8px;
}

.inputSwatch {
  appearance: none;
  position: absolute;
}

.swatch {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid $black;

  transition: border 0.25s $cubicBezier outline 0.25s $cubicBezier;
  cursor: pointer;
}

.inputSwatch:checked + .swatch {
  width: 36px;
  height: 36px;
  border: 1px solid $white;
  outline: 1px solid $green;

  transition: border 0.25s $cubicBezier outline 0.25s $cubicBezier;
}

.inputBoxSwatch:last-child {
  margin-right: 0;
}

.priceContainer {
  margin-bottom: 20px;
}

.priceTitle {
  margin-bottom: 10px;

  @include fontProperty(
    $font-family: Roboto Condensed,
    $weight: 700,
    $size: 18px,
    $height: 1
  );
}

.price {
  @include fontProperty($weight: 700, $size: 24px, $height: 0.75);
}

.btnAddtoCart {
  width: 292px;
  height: 52px;
  margin-bottom: 40px;

  border: none;
  background-color: $green;

  cursor: pointer;

  @include fontProperty(
    $color: $white,
    $weight: 600,
    $size: 16px,
    $height: 1.2,
    $transform: uppercase,
    $text-align: center
  );

  transition: background-color 0.25s $cubicBezier;
}

.disabledBtn {
  width: 292px;
  height: 52px;
  margin-bottom: 40px;

  border: none;
  background-color: $grey;
  cursor: pointer;

  @include fontProperty(
    $color: $white,
    $weight: 600,
    $size: 16px,
    $height: 1.2,
    $transform: uppercase,
    $text-align: center
  );
  cursor: auto;
}

.btnAddtoCart:hover,
.btnAddtoCart:focus {
  background-color: #81dc99;

  transition: background-color 0.25s $cubicBezier;
}

.description {
  width: 292px;
  max-height: 103px;

  @include fontProperty(
    $font-family: Roboto,
    $weight: 400,
    $size: 16px,
    $height: 1.6
  );
  overflow-y: scroll;
}
