@import 'styles/shared.scss';

.navBox {
  display: flex;
  align-items: center;
  height: 80px;
}

.navLink {
  padding: 28px 16px 32px 16px;

  @include fontProperty(
    $color: $black,
    $weight: 400,
    $size: 16px,
    $text-align: center,
    $transform: uppercase
  );

  transition: border-color 0.25s, color 0.25s $cubicBezier;
}

.navLink:hover,
.navLink:focus {
  @include fontProperty(
    $color: $green,
    $weight: 600,
    $size: 16px,
    $text-align: center,
    $transform: uppercase
  );

  border-bottom: 2px solid $green;

  transition: border-color 0.25s, color 0.25s $cubicBezier;
}

.activeLink {
  composes: navLink;
  color: $green;
  font-weight: 600;
  border-bottom: 2px solid $green;
}
