$black: #1d1f22;
$black1: #292929;
$black3: #2b2b2b;
$grey: #8d8f9a;
$grey1: #d3d2d5;
$gray2: #eeeeee;
$green: #5ece7b;
$green1: #0f6450;
$white: #ffffff;
$blue: #15a4c4;
$orange: #ea8120;
$overlayCart: rgba(57, 55, 72, 0.22);
