@mixin containerMedia($desktop) {
  margin: 0 auto;
  width: $desktop;
}

@mixin fontProperty(
  $font-family: Raleway,
  $color: $black,
  $weight: 400,
  $size: 16px,
  $height: 1.2,
  $transform: none,
  $text-align: left,
  $letter-spacing: 0
) {
  font-family: $font-family;
  color: $color;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  text-transform: $transform;
  text-align: $text-align;
  letter-spacing: $letter-spacing;
}
