@import 'styles/shared.scss';

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: $white;
}

.logoBox {
  width: 31px;
  height: 31px;
}

.logo {
  width: 31px;
  height: 31px;
  fill: $green;
}

.toolsBox {
  display: flex;
  align-items: center;
}

.currencySwitcherBox {
  display: flex;
  align-items: center;
}

.currencySwitcherSymbol {
  margin-right: 12px;
  @include fontProperty($size: 18px, $height: 1.14, $text-align: center);
}

.currencySwitcherBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 12px;
  height: 18px;
  margin-right: 22px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.arrowDownIcon {
  width: 6px;
  height: 3px;
}

.arrowUpIcon {
  composes: arrowDownIcon;
}

.cartBtnBox {
  width: 20px;
  height: 18px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cartIcon {
  composes: cartBtnBox;
  fill: $black;
}

.quantityProductBox {
  position: absolute;
  top: 22px;
  right: -13px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $black;
}

.quantityProductText {
  @include fontProperty(
    $font-family: Roboto,
    $color: $white,
    $weight: 700,
    $size: 14px,
    $height: 1.14,
    $text-align: center
  );
}
