@import 'styles/shared.scss';

.modal {
  position: absolute;
  top: 80px;
  right: -30px;

  min-width: 325px;
  height: auto;
  padding: 32px 14px 32px 14px;

  background-color: $white;
  overflow: hidden;
}

.title {
  margin-bottom: 32px;

  @include fontProperty($weight: 700, $size: 16px, $height: 1.6);
}

.titleValue {
  @include fontProperty($weight: 500, $size: 16px, $height: 1.6);
}

.productDescription {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 20px;
}

.cartList {
  margin-bottom: 32px;
  padding: 2px;
  max-height: 456px;
  overflow: auto;
}

.cartListItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.cartListItem:last-child {
  margin-bottom: 0;
}

.productTitle {
  @include fontProperty($weight: 300, $size: 16px, $height: 1.6);
}

.kindOfProduct {
  @include fontProperty($weight: 300, $size: 16px, $height: 1.6);
}

.price {
  margin-bottom: 7px;

  @include fontProperty($weight: 500, $size: 16px, $height: 1.6);
}

.attrContainer {
  margin-bottom: 24px;
}
.attrContainer:last-child {
  margin-bottom: 0;
}

.attrTitle {
  margin-bottom: 10px;

  @include fontProperty(
    $font-family: Roboto Condensed,
    $weight: 400,
    $size: 14px,
    $height: 1.14
  );
}

.attrBox {
  display: flex;
  align-items: center;
}

.inputBoxText {
  margin-right: 8px;
}

.inputText {
  appearance: none;
  position: absolute;
}

.text {
  content: '';
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;

  border: 1px solid $black;

  @include fontProperty(
    $font-family: Source Sans Pro,
    $weight: 500,
    $size: 11px,
    $height: 1.6,
    $text-align: center
  );
}

.selectedAttr {
  content: '';
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;

  border: 1px solid $black;
  background-color: $black;

  @include fontProperty(
    $color: $white,
    $font-family: Source Sans Pro,
    $weight: 500,
    $size: 11px,
    $height: 1.6,
    $letter-spacing: 0.05em
  );
}

.inputBoxText:last-child {
  margin-right: 0;
}

.inputBoxSwatch {
  margin-right: 8px;
}

.inputSwatch {
  appearance: none;
  position: absolute;
}

.swatch {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid $black;
}

.inputSwatchChecked {
  content: '';
  display: inline-block;

  width: 22px;
  height: 22px;
  border: 1px solid $white;
  outline: 1px solid $green;
}

.inputBoxSwatch:last-child {
  margin-right: 0;
}

.counterBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 8px;
}

.incrementBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  background-color: transparent;
  border: 1px solid $black;
  cursor: pointer;
}

.incrementIcon {
  width: 15px;
  height: 15px;
}

.quantity {
  @include fontProperty(
    $weight: 500,
    $size: 16px,
    $height: 1.6,
    $text-align: center
  );
}

.decrementBtn {
  composes: incrementBtn;
}

.decrementIcon {
  width: 15px;
}

.productImgContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.productImgBox {
  display: flex;
  align-items: center;

  width: 121px;
  height: 190px;
  overflow: hidden;
}

.totalPriceBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.titlePrice {
  @include fontProperty(
    $font-family: Roboto,
    $weight: 500,
    $size: 16px,
    $height: 1.12
  );
}

.totalValue {
  @include fontProperty($weight: 700, $size: 16px, $height: 1.6);
}

.cartBtnBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartBtn {
  width: 140px;
  height: 43px;
  margin-right: 0;
  padding-top: 13px;
  padding-bottom: 13px;

  border: 1px solid $black;
  background-color: transparent;

  cursor: pointer;

  @include fontProperty(
    $weight: 600,
    $size: 14px,
    $height: 1.2,
    $transform: uppercase,
    $text-align: center
  );

  transition: background-color 0.25s $cubicBezier, color 0.25s $cubicBezier,
    border 0.25s $cubicBezier;
}

.linkToCart {
  composes: cartBtn;
  margin-right: 12px;
}

.cartBtn:hover,
.linkToCart:hover,
.cartBtn:focus,
.linkToCart:focus {
  color: $white;
  background-color: $green;
  border: 1px solid $green;

  transition: background-color 0.25s $cubicBezier, color 0.25s $cubicBezier,
    border 0.25s $cubicBezier;
}
